.side__panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px 0px 20px 20px;
  height: 100vh;
  max-width: 400px;
  background-color: rgb(251, 251, 255);
  /* background-color: rgba(0, 0, 0, 0.035); */
  color: var(--navy-blue);
}

.side__panel > h3 {
  margin: 30px 0px 0px 20px;
  font-weight: 600;
}

.categories__wrapper {
  display: flex;
  flex-direction: column;
}

.checkbox__wrapper {
  margin: 15px 0px 0px 45px;
  display: flex;
  align-items: center;
}

.checkbox__wrapper > input[type="radio"] {
  border-radius: 20px;
  margin-right: 10px;

  cursor: pointer;
}

.checkbox__wrapper > label {
  color: var(--navy-blue) !important;
  font-weight: 500;
}

.sort__byPriceRange > .input__box {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.input__box > .price__rangeIcon {
  margin-top: 12px;
}

.input__box > input[type="text"] {
  max-width: 120px;
  margin: 10px;
  padding: 12px;
  border: var(--navy-border);
  border-radius: 3px;
}

.input__box > input[type="text"]:active,
.input__box > input[type="text"]:focus {
  border: none !important;
}

.submit__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 162px;
  padding: 15px;
  height: 48px;
  background-color: var(--bg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit__button:hover {
  background-color: var(--navy-blue);
}
