.cart {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.cart > h1 {
  font-weight: 600;
  color: var(--navy-blue);
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
}

.product__headingWrapper {
  display: flex;
  flex: 6;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-color);
  color: var(--navy-blue);
  padding: 10px;
  overflow: hidden;
}

.product__headingWrapper > span {
  flex: 1;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.product__headingWrapper > .total__priceWordWrap {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.product__headingWrapper > .item__info {
  /* width: 200px; */
  flex: 2;
}

.checkout__itemsWrapper {
  display: flex;
  flex: 6;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 15px 0px;
  margin: 0px 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__itemsWrapper > span {
  flex: 1;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 500;
}

.item__wrapper {
  display: flex;
  flex: 2;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.item__wrapper > img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  object-fit: contain;
}

.item__wrapper > h4 {
  color: var(--navy-blue);
  margin-top: 25px;
  font-weight: 500;
  font-size: 17px;
}

.quantity__selectorWrapper {
  flex: 1;
}

.quantity__selectorWrapper > .select__productQuantity {
  font-size: 18px;
  font-weight: 600;
  color: var(--navy-blue);
  border: var(--navy-border);
  border-radius: 5px;
  /* padding: 7px; */
  margin-left: 4px;
  width: 46px;
  height: 46px;
  text-align: center;
  cursor: pointer;
}

.select__productQuantity:focus {
  border-color: #0071e3;
}

.select__productQuantity:focus:not(button) {
  box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
  outline: none;
}

.total__price {
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 500;
}

.total__priceWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.icon__wrapper {
  color: var(--navy-blue);
  font-size: 1.25rem !important;
  cursor: pointer;
  font-weight: 600;
}

.icon__wrapper:hover {
  color: var(--bg);
}

.grand__totalSection {
  display: flex;
  flex: 6;
  flex-direction: row;
  /* justify-content: space-between; */
  margin: 20px 10px 30px;
  padding-bottom: 18px;
  border-bottom: 1px solid lightgray;
}

.grand__totalSection > h3 {
  flex: 5;
}

.grand__totalSection > span {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
}

.checkout__buttonSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 20px;
}

.continue__shoppingButton {
  margin-right: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.continue__shoppingButton:hover {
  background-color: var(--navy-blue);
}

.proceed__toCheckoutButton {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg);
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.proceed__toCheckoutButton:hover {
  background-color: var(--navy-blue);
}
