.home {
  display: flex;
  flex: 4;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.side__panel {
  display: flex;
  flex: 1;
}

.product__containerWrapper {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* MuiPagination-ul is classname for the ul elements
used in MUI Pagination API */
.MuiPagination-ul > li {
  list-style-type: none !important;
}

.pagination__stack {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* .product__container {
  justify-content: center;
  align-items: flex-start;
} */
