.home {
  display: flex;
  flex: 4;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1520px;
  /* align-items: center; */
}

/* .side__panel {
  display: flex;
  flex: 1;
} */

.product__containerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
}

.product__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
