.card__skeletonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 380px;
  background: white;
  border-radius: 5px;
  margin: 20px;
}

.card__skeleton {
  display: flex;
  flex-direction: column;
  width: 21vw;
  /* height: 380px; */
  animation: skeleton 1s ease infinite alternate;
}

@keyframes skeleton {
  to {
    opacity: 0.7;
  }
}

.image__skeleton {
  background-color: var(--navy-blue);
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 0.125rem;
}

.product__infoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.title__skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy-blue);
  width: 90%;
  height: 20px;
  margin-bottom: 15px;
  border-radius: 0.125rem;
}

.product__infoSkeleton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}

.brand__skeleton,
.price__skeleton {
  background-color: var(--navy-blue);
  width: 35%;
  height: 18px;
  border-radius: 0.125rem;
}

/* topbar skeleton loading css */
.topbar__skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  animation: skeleton 1s ease infinite alternate;
}

.topbar__skeletonIcons {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--navy-blue);
}

.avatar__skeletonIcon {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--navy-blue);
}

.circular__loadingEffect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.custom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.balls {
  display: flex;
  margin-left: 7px;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--navy-blue);
  margin-right: 10px;
  animation: ball 0.5s ease infinite alternate;
}

.ball2 {
  animation-delay: 0.1s;
}

.ball3 {
  animation-delay: 0.2s;
}

@keyframes ball {
  to {
    transform: translateY(-10px);
  }
}

.custom__text {
  font-size: 18px;
  font-weight: 600;
  color: var(--navy-blue);
}
