.forgotPassword {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}

.forgotPasswordContainer {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.forgotPassword > .forgotPasswordContainer > .framerLogo {
  text-align: center;
}

.forgotPassword > .forgotPasswordContainer > h1 {
  font-weight: 800;
  margin-bottom: 20px;
  /* letter-spacing: -1px; */
  text-align: center;
}

.passwordResetForm {
  display: flex;
  flex-direction: column;
}

.forgotPasswordContainer > form > h4 {
  margin-bottom: 14px;
  font-weight: 500;
  text-align: left;
}

.forgotPasswordContainer > form > input {
  height: 30px;
  margin-bottom: 17px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 3px 7px;
  outline: none;
  font-size: 16px;
}

input[type="email"]:focus {
  border: 2px solid #07f;
}

.forgotPasswordContainer > form > button {
  height: 34px;
  cursor: pointer;
  background-color: #192029;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.resetButton:hover {
  background-color: #131921;
}

.forgotPassword > .forgotPasswordContainer > a {
  padding: 10px 0px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  color: #07f;
}

.forgotPassword > .forgotPasswordContainer > a:hover {
  text-decoration: underline;
}
