.alert__success,
.alert__danger {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 20px 0px 20px;
}

.alert__successMessageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--bg-green);
  color: var(--text-green);
}

.alert__dangerMessageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert__successMessageText,
.alert__dangerMessageText {
  margin-left: 10px;
  font-weight: 500;
}

.icon__clear {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.icon__clear:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border-radius: 50%;
}
